.poke-cell {
    width: 140px;
    height: 120px;
    margin: 10px;
    background-color: #FFF;
    background-repeat: no-repeat;
    border: none;
    border-radius: 5px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16);
    padding-top: 15px;
}
h1{
    text-transform: uppercase;
}

img {
    height: 80px;
}
